@import '../../../style/variables.scss';

.expense-add-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 25px;

    & .expense-add {
        position: relative;
        display: inline-block;
        width: 250px;
        height: 150px;
        background-color: transparent;
        border: none;
        min-width: 150px;
        box-shadow: $banner-box-shadow;
        -webkit-box-shadow: $webkit-box-shadow;
        -moz-box-shadow: $moz-box-shadow;
        border-radius: 8px;
    }

    & .expense-add span {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        transition: 0.3s;
        border-radius: 8px;
    }

    .expense-add.add {
        cursor: pointer;
    }

    .expense-add.hover-border-5::before,
    .expense-add.hover-border-5::after {
        width: 0%;
        height: 0%;
        opacity: 0;
        border-radius: 8px
    }

    .expense-add.hover-border-5::before {
        top: 0;
        right: 0;
        border-radius: 8px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
    }

    .expense-add.hover-border-5::after {
        border-radius: 8px;
        bottom: 0;
        left: 0px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
    }

    .expense-add.hover-border-5:hover::before,
    .expense-add.hover-border-5:hover::after {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .expense-add.hover-border-5:hover::before {
        border-radius: 8px;
        transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;
    }

    .expense-add.hover-border-5:hover::after {
        border-radius: 8px;
        transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
    }
}

// .expense-list-content {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: start;
//     align-items: start;
//     gap: 25px;

//     & .expense-list-detail {
//         position: relative;
//         display: inline-block;
//         width: 250px;
//         height: 150px;
//         background-color: transparent;
//         border: none;
//         min-width: 150px;
//         box-shadow: $banner-box-shadow;
//         -webkit-box-shadow: $webkit-box-shadow;
//         -moz-box-shadow: $moz-box-shadow;
//         border-radius: 8px;

//     }

//     & .expense-list-detail span {
//         position: relative;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         letter-spacing: 2px;
//         text-transform: uppercase;
//         top: 0;
//         left: 0;
//         width: 100%;
//         padding: 5px;
//         transition: 0.3s;
//         border-radius: 8px;
//     }

//     .expense-list-detail.hover-border-5::before,
//     .expense-list-detail.hover-border-5::after {
//         width: 0%;
//         height: 0%;
//         opacity: 0;
//         border-radius: 8px
//     }

//     .expense-list-detail.hover-border-5::before {
//         top: 0;
//         right: 0;
//         border-radius: 8px;
//         border-top: 1px solid white;
//         border-left: 1px solid white;
//         transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
//     }

//     .expense-list-detail.hover-border-5::after {
//         border-radius: 8px;
//         bottom: 0;
//         left: 0px;
//         border-bottom: 1px solid white;
//         border-right: 1px solid white;
//         transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
//     }

//     .expense-list-detail.hover-border-5:hover::before,
//     .expense-list-detail.hover-border-5:hover::after {
//         width: 100%;
//         height: 100%;
//         opacity: 1;
//     }

//     .expense-list-detail.hover-border-5:hover::before {
//         border-radius: 8px;
//         transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;
//     }

//     .expense-list-detail.hover-border-5:hover::after {
//         border-radius: 8px;
//         transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
//     }



//     & .card-detail-section {
//         display: flex;
//         justify-content: space-around;
//         // justify-items: center;
//         width: 100%;
//         height: 100%;
//         flex-direction: column;
//         align-items: center;

//         & .detail-expense {
//             display: flex;
//             font-weight: bold;
//         }

//         & .card-edit-btn {
//             display: flex;
//             justify-content: end;
//             align-items: end;
//             flex-direction: row;
//             width: 100%;
//             gap: 10px;
//             margin-right: 15px;
//         }
//     }
// }

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
}

.expense {
    padding: 5px;
}

.expense span {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 56, 55);
}

.expense-list span {
    color: black;
    background-color: transparent;
}

.expense::before,
.expense::after {
    border-radius: 8px;
    background: transparent;
    z-index: 2;
}


.list-page-title {
    margin: 10px 40px;
}