@import '../../style/variables.scss';

.expense-add-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        gap: 25px; 
        cursor: pointer;

        & .expense-add {
                    position: relative;
                    display: inline-block;
                    width: 250px;
                    height: 150px;
                    background-color: transparent;
                    border: none;
                    min-width: 150px;
                    background-color: $primary-white;
                    color: black;
                    border: $border;
                    border-radius: $expense-btn-border-radios;
    }
}