.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
   

    & .modal-title {
        color: black !important;
        font-size: 18px;
        text-align: left;
        font-weight: 400;
        width: 100%;
    }

    & .modal-form-add-card-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        & .btn-section {
            display: flex;
            width: 50%;
            justify-content: end;
            align-items: center;

            & .add-btn {
                display: flex;
                justify-content: end;
                align-items: end;
            }
        }
    }
}
