@import '../../style/variables.scss';

.balance-summary {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    // width: 50%;
    height: 150px;
    box-shadow: $banner-box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
    border-radius: $expense-btn-border-radios;
    padding: 15px;
    cursor: default;
}