@import '../../style/variables.scss';

.balance-summary {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 270px;
    border: $border;
    background-color: $primary-white;
    border-radius: $expense-btn-border-radios;
    padding: 15px;
    cursor: default;
    color: black;
        & .daily-spending{
            opacity: 0.5;
        }
}

@media (max-width:800px) {
    .balance-summary {
        width: 100%;
    }
}