@import '../../style/variables.scss';

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
}

.btn {
    width: 100%;
    margin-top: 8px;
    gap: 4px;

    & .submit-button {
        color: #FFFFFF !important;
        font-size: 16px;
        padding: 10px 16px;
        border-radius: $expense-btn-border-radios;
        border: 1px solid #3866A3;
        background: #0866FF;
        cursor: pointer;
        width: 100%;

        &:hover {
            color: #FFFFFF !important;
            background: #0863f5df;
        }
    }
}

.btn-holder {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    width: 100%;
}

.logout-icon {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-logout {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

.btn-logout span {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    transition: 0.3s;
}

.btn-update {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 100px;
}

.btn-update span {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    transition: 0.3s;
}

.btn-3 {
    padding: 5px;
}

.btn-3 span {
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.btn-3::before,
.btn-3::after {
    background: transparent;
    z-index: 2;
    font-weight: inherit;
}

.btn-logout.hover-border-5::before,
.btn-logout.hover-border-5::after {
    width: 0%;
    height: 0%;
    opacity: 0;
}

.btn-logout.hover-border-5::before {
    top: 0;
    right: 0;
    border-top: $expense-btn-hover-border;
    border-left: $expense-btn-hover-border;
    transition: $transaction-expense-add-hover-border-5-before;
}

.btn-logout.hover-border-5::after {
    bottom: 0;
    left: 0px;
    border-bottom: $expense-btn-hover-border;
    border-right: $expense-btn-hover-border;
    transition: $transaction-expense-add-hover-border-5-after;
}

.btn-logout.hover-border-5:hover::before,
.btn-logout.hover-border-5:hover::after {
    width: 100%;
    height: 96%;
    opacity: 1;
}

.btn-logout.hover-border-5:hover::before {
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;
}

.btn-logout.hover-border-5:hover::after {
    transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
}