@import '../../style/variables.scss';

.user-profile-content {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 100%;
    padding: 10px 40px;

    & .user-profile-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        border: 1px solid #e0e5f0;
        box-shadow: $banner-box-shadow;
        -webkit-box-shadow: $webkit-box-shadow;
        -moz-box-shadow: $moz-box-shadow;
        border-radius: 8px;
        padding: 5px 10px;

        & .user-name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 5px;
            font-weight: 400;
            text-transform: uppercase;
            color: white;
        }

        & .btn-logout {
            display: flex;
            justify-content: end;
            justify-items: end;
            align-items: center;
            gap: 8px;
            width: 100%;
            padding-right: 25px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.io-arrow-down {
    cursor: pointer;
    transition: transform 0.5s ease;

}

.io-arrow-down:active {
    background-color: #e0e5f0;
    border-radius: 100%;
}

.clicked {
    rotate: 180deg;
}