@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 300;
  overflow: hidden;
}

.wallet {
  display: flex;
  flex-direction: row;
}

.navigation-section {
  width: 20%;
}

.wallet-section {
  width: 80%;
  /* display: flex;
  justify-content: center; */
}

.analytics-content {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  margin: 0 40px;
}

.list-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  /* min-height: 100vh; */
  margin: 0 40px;
  gap: 25px;
}

a {
  text-decoration: none !important;
  color: white !important;
}
