@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 300 !important;
  overflow: hidden;
}

.wallet {
  display: flex;
  flex-direction: row;
}

.navigation-section {
  width: 20%;
}

.wallet-section {
  margin: 10px 40px;
  width: 80%;
}

.analytics-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  /* padding: 0 40px; */
  gap: 10px;
  /* width: 100%; */
  overflow-y: auto;
  max-height: 100vh;
}

.page-title {
  font-weight: 300;
}

.option {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

a {
  text-decoration: none !important;
  color: white !important;
}
